.sidebar {
  width: 250px;
  position: relative;
  height: 100vh;
}
.sidebar .logout-btn {
  position: absolute;
  bottom: 10px;
}
.offcanvas-header .btn-close {
  filter: invert(1);
}
.sidebar_menu {
  transition: all 0.4s ease-in-out;
}
.sidebar_menu:hover {
  color: grey !important;
}
.nav-item.active {
  color: grey !important;
  font-weight: bold !important;
}
